---
title: "Reading: Unwritten Laws of Engineering"
title_image: "unwritten-laws-of-engineering/title.jpg"
date: 2015-02-01
language: en
---

<p>In any enginieering company most of the problems are usually caused not by technical issues, but by personal or administrative matters. Actually it is true for any kind of companies. A good engineer should obeys both technical and personal laws. But the importance of latter is usually underrated.</p>

<p>Several editions of this book exist. Originally it was published as three articles in Mechanical Engineering magazine in 1944. Then it became a book, revisioned and edited several times. There is also <em>The Unwritten Laws of Business</em> version. I&rsquo;ve read three articles from Mechanical Engineering magazine which were excerpted from revised book and issued in 2010. Those are not full, but enough to understand.</p>

<p>These unwritten laws describes what beginners should know when they start working in an engineering company, how managers and subordinates should communicate and organize thier work, how a good engineer should look like and behave with colleagues. These laws are extremely short and clear, I&rsquo;m not going to retell them all here. I want you to read this book right now!</p>
