body {
  max-width: 1030px;
}

img.title {
  width: 100%;
}

pre {
  background-color: #e3e3e3;
}

code {
  background-color: #e3e3e3;
}

// a {
//   color: rgba(#000, 0.7);

//   &:focus,
//   &:hover {
//     color: rgba(#000, 0.6);
//   }
// }
