---
title: "Too lazy to go on a concert?"
title_image: "too-lazy-to-go-on-concert/title.jpg"
date: 2015-03-23
language: en
---

<p>In 2008 Slipknot came to Russia for the first time. I was a poor student back in the days and couldn&rsquo;t afford going to Moscow just for a concert. In 2010 Paul Grey died and I realized that I probably would never see this band live anymore. Fortunately Slipknot came to Moscow once again (with Donnie Steele) in 2011. And I <a href="/2011/07/07/slipknot">was there</a>.</p>

<p>Remember: <strong>Rock bands tend to break up suddenly. Rock stars tend to die suddenly.</strong></p>

<p>That happens. So I will never see Static-X or Disturbed live, and many other bands&hellip;</p>

<p>Go buy a ticket and visit a concert of your favourite band! Please, do it now. This might be the only chance, who knows.</p>

<p>And don&rsquo;t tell me that <em>new line up of band X sucks</em> or <em>a venue Y sucks</em> or <em>they are too old</em>. Fuck this. Recently I was at Sepultura concert. Yes, this is half-Sepultura, without Cavalera brothers. But this is still a legend, this is Sepultura! They rock, believe me. And even though this venue sometimes sucks, the sound was perfect (because top bands always bring their own equipment). And tickets were damn cheap. So you must be the laziest person in the world not to come and see something like this in your small city. No excuses!</p>

<h2 id="my-wish-list">My wish list</h2>

<p>As you may know, I have a <a href="/concerts.html">list of bands</a> I&rsquo;ve seen live. I also have kind of a wish list. Some concerts have been already booked and I hope they will not be cancelled. I will see others as soon as I have a chance.</p>

<ul>
  <li>Lamb of God (Moscow, June 2015)</li>
  <li>Gojira (Moscow, June 2015)</li>
  <li>Metallica (Moscow, August 2015)</li>
  <li>Limp Bizkit (Samara, November 2015)</li>
  <li>In Extremo (Samara, April 2015)</li>
  <li>DevilDriver</li>
  <li>Rob Zombie</li>
  <li>In Flames</li>
  <li>Trivium</li>
  <li>Chimaira</li>
  <li>Five Fingers Death Punch</li>
  <li>Machine Head</li>
  <li>Godsmack</li>
  <li>Amon Amarth</li>
  <li>Hatebreed</li>
  <li>Meshuggah</li>
  <li>Dimmu Borgir</li>
  <li>&hellip;</li>
</ul>
