<hr/>
<p>
    <% if current_page.data.language == "ru" %>
        &copy; 2011-2022 - Станислав Спиридонов
    <% else %>
        &copy; 2011-2022 - Stanislav Spiridonov
    <% end %>
</p>
<%= partial "partials/yandex_metrika" %>
