---
date: 2012-02-19
language: ru
title: С днём рождения:)
comments: true
---

<p><%= tag :img, :src => "/images/birthday2012/dog.jpg", :class => "center" %></p>

<p>Сегодня у меня день рождения:) У spiridonov.pro тоже - домену годик.</p>

<p>Родился я морозным солнечным воскресным утром, точь в точь как сегодня! Только
мороз был посуровее — Сибирь всё таки.</p>

<p>Есть вещи которые не меняются у меня из года в год. Не было ещё ни одно дня
рождения, когда я бы не валялся в постели с температурой:) Этот раз не
исключение. Ну традиция у меня такая, чего поделать.</p>

<p>Но не всё так плохо! Во-первых, я теперь инженер. И это мой первый свободный
день рождения. Свободный настолько, что я даже сейчас временно безработный:)
Со старой работы уже ушёл, а на новую выйду в понедельник.</p>

<p>Подарок я себе сделал, но его ещё надо доставить из Москвы. Будет это, скорее
всего, через недельку.</p>

<p>А пока я тоже пойду заточу котлетку и буду счастлив, как эта собака-улыбака:)</p>
