  <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
  <link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

{% if page.audio %}
  <script src="/assets/jquery-1.10.2.min.js"></script>
  <script src="/assets/mediaelement/mediaelement-and-player.min.js"></script>
  <link rel="stylesheet" href="/assets/mediaelement/mediaelementplayer.css" />
{% endif %}