.profile-image {
	// width: 256px;
	// height: 256px;
	// margin: 0 1em;
	// margin-bottom: -1.5em;
	// background-repeat: no-repeat;
	// background-size: 200px 200px;
	// background-image: url(/about.jpg);
}
@media only screen and (min-width: 250px) {
	.profile-image {
		float: none; 
		margin: 0 auto;
		display:block;
	}
}
@media only screen and (min-width: 500px) {
	.profile-image { 
		float: right; 
		margin: 0 1em;
	}
}