---
title: "Strong joints and good posture"
date: 2015-01-23
language: en
---

<p>Today I&rsquo;m not gonna tell you about new movements or exercises. Today I want to remind you about your health: strong joints, proper posture and safety.</p>

<p>We all have health issues due to our lifestyle. Sitting in front of a computer, not walking enough, cheap chairs and beds, etc. Or maybe vice versa your job is phisically damanding. Some of us go to a gym (which is good) and constantly damage themselves with wrong technique (which is not good). Anyway we should take care of our joints.</p>

<p>Here are some <strong>free</strong> teaching materials I found useful. As usual, to perform these exercises equipment is not required. You can do it at home. These exercises will both help you to recover from injuries and prevent them in the future.</p>

<h2 id="gmb-fitness">GMB Fitness</h2>

<p>The first link in my list is a real gold! The channel is full of stretching and technique tutorials. Besides tons of videos on <a href="http://www.youtube.com/channel/UC_ruB7qtdk4KufASPRuWhZA">YouTube</a> they also have articles and books on their <a href="http://gmb.io/">website</a>. Most of the books are free. You just have to sign up and they will email you links back. As for our todays topic I recommend you a book <em>Body Maintenance: A Guide to Troubleshooting and Maintenance for the Most Common Physical Dysfunctions</em>. It goes with video tutorials for improving back, shoulders and hips mobility.</p>

<h2 id="jonnie-candito">Jonnie Candito</h2>

<iframe width="100%" height="375" src="//www.youtube.com/embed/zoZWgTrZLd8" frameborder="0" allowfullscreen></iframe>

<p>Jonnie is an extremely strong guy from drug free powerlifting world. I&rsquo;ve linked here only his tutorial on how to squat properly. But make sure to subscribe to his channel! There are a lot of videos about proper technique of basic movements: squat, deadlift and bench press.</p>

<h2 id="calisthenic-movement">Calisthenic Movement</h2>

<iframe width="100%" height="375" src="//www.youtube.com/embed/2Nk7W9jnpoc" frameborder="0" allowfullscreen></iframe>

<p>Warmup is probably one of the most important things in physical training. All athletes must do it before any kind of training: speed, strength or endurance. As I can see in my gym folks do not pay enough attention to warming up. Proper warmup as well as good flexibility are the key to avoiding pains and injuries.</p>

    <p>Check out this channel. There is a whole series about warming up, as well as one about stretching.</p>

<h2 id="fitnessfaqs">FitnessFAQs</h2>

<iframe width="100%" height="375" src="//www.youtube.com/embed/PExMvVPSfeo" frameborder="0" allowfullscreen></iframe>

<p>Daniel&rsquo;s channel is famous mostly for calisthenics tutorials and progressions. But it also has several videos about posture, stretching and general health.</p>

<p>I didn&rsquo;t pay much attention to my upper back before this tutorial. But now I play with foam roller (with one in my gym) and really love it.</p>

<h2 id="lights-out">Lights out</h2>

<p>And remember the main rule of stretching: <strong>constancy</strong>. Ideally these simple exercises should be performed every day. But lets be honest:) Do it at least three times a week.</p>
