---
title: "Reading: Carb Back Loading"
title_image: "carb-back-loading/title.jpg"
date: 2014-04-09
language: en
description: "My short review on John Kiefer&#39;s book called Carb Back Loading 1.0. How to gain muscles, lose fat and increase you strength."
---

<p>Guys, this book is about dieting. Honestly, I didn&rsquo;t want to write any review on a book about food/dieting/exercises before I tested it on myself. As for dieting it obviously takes time. I wanted to test it and then write <em>It works (or doesn&rsquo;t work) for me!</em>. As for this one I&rsquo;ve got some results very quickly – my training performance has increased. I want to motivate you somehow, so I decided to let you know about this book right now and encourage you to do something with your ass:)</p>

<p>Don&rsquo;t be afraind of pages amount. Huge part of this book contains references (because it&rsquo;s based on real medical papers and researches), dieting plans and success stories. The rest is really easy to read.</p>

<p>Here are several highlights:</p>

<ul>
  <li><strong>It works for strength training only</strong>. If you lift weight as mad at least three times a week – this is for you. If you do endurance training, crossfit, dance, yoga, swimming, running, housekeeping or other non-strength exercises – you will not profit from CBL. It is doable with progressive calisthenics, but this is separate big topic.</li>
  <li><strong>Time is important</strong>. If you train in the evening, your breakfast and lunch meals should be ultra low carb, and you should backload carbs after training. It&rsquo;s that simple. Other options for gym time are available.</li>
  <li><strong>Few supplements involved</strong>. Don&rsquo;t think you need to consume a lot of chemicals. Just buy a pure protein (whey isolate). Actually good protein is a must, no matter you lift hard or not. Add a banana and your post-workout shake is done.</li>
  <li><strong>It&rsquo;s doable with local food</strong>. No tricky meals here. You can cook all this stuff at home, and all necessery products are simple and available in russian groceries.</li>
  <li><strong>Don&rsquo;t listen to anybody</strong>. Read the book. If you have any question on CBL – read the book. Somebody else can distort these ideas, even myself:) So go read the book!</li>
</ul>

<p>I&rsquo;ve finished two other books (they are under testing now) and reading two more, will write about them later, stay tuned.</p>

<p>Leave your comments below and let me know if you are interested in exercises and dieting.</p>
