---
title_image: about.jpg
language: en
description: My name is Stas Spiridonov and this is my blog about programming, music, books, drawing, hobbies and other interesting things.
---

<p>Hi, my name&rsquo;s Stas Spiridonov.</p>

<p>I&rsquo;m a Software Development Engineer at Amazon AWS in Seattle, WA. I was born in Siberia, Russia. What else would you like to know?</p>

<ul>
  <li>I pursue simplisity and minimallism everywhere. And no, CSS on this website isn't broken, that is just my very simple design.</li>
  <li>I&rsquo;m deep into metal music. I enjoy visiting live concerts and <a href="/concerts.html">here is a list</a> of bands I&rsquo;ve seen live so far.</li>
  <li>I love travelling. <a href="https://drive.google.com/open?id=1LANm8dHR8LlrDBA8Onw_2SgB4Vs&amp;usp=sharing">Take a look at a map</a> of some countries and large cities I&rsquo;ve visited, that does not include numerous trails, car trips, small towns and beaches.</li>
  <li>I&rsquo;m a DIY person. I cook, fix my cars, TIG weld, build RC models, build custom car parts, etc.</li>
  <li>I ocasionally play guitar and <a href="/covers.html">record covers</a> by myself. I help my friends with sound recording and mixing.</li>
  <li>Also I like drawing <a href="/drawings.html">pencil portraits</a>.</li>
  <li>I do physical training as a lifestyle. I enjoy a little bit of everything: running (half-marathon finisher), olympic weightlifting, crossfit, rock climbing, and calisthenics.</li>
</ul>

<h2 id="contacts">Contacts</h2>
<p><strong>Email</strong>: <a href="mailto:stanislav@spiridonov.pro">stanislav@spiridonov.pro</a><br>
<strong>Instagram</strong>: <a href="https://www.instagram.com/stas_spiridonov/">stas_spiridonov</a><br>
<strong>GitHub</strong>: <a href="https://github.com/spiridonov">spiridonov</a><br>
<strong>Twitter</strong>: <a href="https://twitter.com/stas_spiridonov">@stas_spiridonov</a></p>