<% data.posts.en.group_by{ |post| post[:date].strftime('%Y') }.to_a.sort_by(&:first).reverse.each do |year, posts| %>
  <h2><%= year %></h2>
  <% posts.each do |post| %>
    <p>
    <a href="<%= url_for("/#{post[:date].strftime('%Y/%m/%d')}/#{post[:slug]}/") %>"><b><%= post[:title] %></b></a>
    <em>(<%= post[:date].strftime('%b %d') %>)</em>
    </p>
  <% end %>
<% end %>
