---
title_image: about.jpg
language: ru
description: Меня зовут Стас Спиридонов, а это мой блог о программировании, музыке, рисовании, книгах, хобби и других интересных штуках.
---

<p>Привет! Меня зовут Стас Спиридонов.</p>

<p>Я инженер. В настоящее время работаю в AWS в Сиэттле, штат Вашингтон. Родом из суровой Сибири. Что ещё? </p>

<ul>
  <li>Я сторонник простоты и минимализма во всем. Нет, CSS на моем сайте не отвалился, это просто дизайн такой.</li>
  <li>Я слушаю тяжёлую музыку. Обожаю ходить на концерты. Вот небольшой <a href="/ru/concerts.html">список</a> групп, которых я видел вживую.</li>
  <li>Люблю путешествовать. <a href="https://drive.google.com/open?id=1LANm8dHR8LlrDBA8Onw_2SgB4Vs&amp;usp=sharing">Вот карта</a> с крупными городами и странами, где я побывал. На этой карте нет сотен трэйлов, парков, пляжей, мелких городков и автомобильных поездок, в которых я был.</li>
  <li>Я стараюсь все делать своими руками. Я готовлю еду, чиню свои машины, варю аргоном, строю радиоуправляемые модели, разрабатываю собственные прибамбасы для авто и т.д.</li>
  <li>Иногда играю на гитаре и самостоятельно <a href="/ru/covers.html">записываю каверы</a> на любимые песни. Помогаю друзьям с записью и сведением.</li>
  <li>Среди моих хобби также <a href="/ru/drawings.html">рисование портретов</a> карандашом.</li>
  <li>Физическая активность это часть моего образа жизни. Люблю всего по чуть-чуть: бег (пробежал полумарафон), скалолазание, тяжёлая атлетика, кроссфит и тренировки с собственным весом.</li>
</ul>

<h2 id="contacts">Контакты</h2>
<p><strong>Почта</strong>: <a href="mailto:stanislav@spiridonov.pro">stanislav@spiridonov.pro</a><br>
<strong>Инстаграм</strong>: <a href="https://www.instagram.com/stas_spiridonov/">stas_spiridonov</a><br>
<strong>Гитхаб</strong>: <a href="https://github.com/spiridonov">spiridonov</a><br>
<strong>Твиттер</strong>: <a href="https://twitter.com/stas_spiridonov">@stas_spiridonov</a></p>
