---
title: "Cover: Lamb of God - Desolation"
title_image: "desolation/title.jpg"
date: 2014-03-24
language: en
description: "Lamb of God – Desolation guitar cover. Recording, mixing, having fun."
---

<p>This cover has the longest history. I started about one year ago with drums and bass tracks when I was in Florida. And finally I&rsquo;ve finished guitar tracks and mixing. Check it out! Leave your comments below, any feedback is more than appreciated!</p>

<p>P.S. I really love this band!</p>

<audio controls preload="none">
  <source src="/audio/Lamb_of_God_Desolation.mp3" type="audio/mpeg">
  <a href="/audio/Lamb_of_God_Desolation.mp3">Download MP3</a>
</audio>
