---
title: Концерты, на которых я был
title_image: concerts.jpg
language: ru
description: Список музыкальных групп, которых я видел вживую на концертах. Metallica, Black Sabbath, Slipknot и другие.
comments: true
---

Здесь я попытался вспомнить все группы, на чьих концертах я побывал... пока это было возможно до короновируса. Некоторых из них я видел даже несколько раз. В этом списке только зарубежные коллективы, потому что список с русскими будет слишком длинным, да и мне будет сложно всех вспомнить.

<ul>
  <% data.concerts.concerts.each do |c| %>
    <li><%= c[:band] %><% if c[:note] %> <em><%= c[:note] %></em><% end %></li>
  <% end %>
</ul>
