---
title: Моя музыка
language: ru
comments: true
---

<p>Иногда я играю на гитаре и записываю каверы на свои любимые песни. Когда я записал свой первый кавер, я не знал абсолютно ничего о звукозаписи. Потом я узнавал новые штуки и учился делать правильно. Я собрал на этой странице все свои записи в хронологическом порядке, чтобы по ним можно видеть мой прогресс. Ведь когда-то я не знал, например, о компрессорах. Мне нравится это дело!</p>

<h2>Оборудование</h2>

<ul>
  <li>Edwards E-LP-92CD (Gibson 500T + Gibson 496R)</li>
  <li>ESP KH-2 (EMG 81 + EMG 60A)</li>
  <li>Korg Pitchblack</li>
  <li>BOSS BF-2</li>
  <li>DigiTech Whammy V</li>
  <li>Ernie Ball Strings</li>
  <li>Dunlop Tortex 1mm</li>
  <li>PreSonus AudioBox 22VSL</li>
  <li>Sennheiser HD 650</li>
  <li>Yamaha HS5</li>
</ul>

<p>В прошлом у меня были еще вот эти ребята:</p>

<ul>
  <li>ENGL e530</li>
  <li>Maxon OD-2</li>
  <li>BOSS CS-3</li>
  <li>BOSS NS-2</li>
  <li>Ebow</li>
  <li>Voodoo Lab ISO-5</li>
  <li>Monster Rock Cables</li>
  <li>MXR Phase 90</li>
  <li>D'Addario Strings</li>
  <li>Seymour Duncan Pickups</li>
  <li>E-MU 0404 USB</li>
</ul>

<hr/>

<h2>2014</h2>

<h3>Lamb of God – Desolation</h3>
<audio controls preload="none">
  <source src="/audio/Lamb_of_God_Desolation.mp3" type="audio/mpeg">
  <a href="/audio/Lamb_of_God_Desolation.mp3">Download MP3</a>
</audio>

<h3>Rage Against The Machine – Killing in the Name</h3>
<audio controls preload="none">
  <source src="/audio/RATM_Killing_in_the_Name.mp3" type="audio/mpeg">
  <a href="/audio/RATM_Killing_in_the_Name.mp3">Download MP3</a>
</audio>

<h3>Gojira - L'Enfant sauvage</h3>
<audio controls preload="none">
  <source src="/audio/Gojira_Lenfant_sauvage.mp3" type="audio/mpeg">
  <a href="/audio/Gojira_Lenfant_sauvage.mp3">Download MP3</a>
</audio>

<h2>2012</h2>

<h3>Korn - Blind</h3>
<audio controls preload="none">
  <source src="/audio/Korn_Blind.mp3" type="audio/mpeg">
  <a href="/audio/Korn_Blind.mp3">Download MP3</a>
</audio>

<hr/>

<h2>2011</h2>

<h3>Amatory – Нить длиною в жизнь</h3>
<audio controls preload="none">
  <source src="/audio/Amatory_Lifeline.mp3" type="audio/mpeg">
  <a href="/audio/Amatory_Lifeline.mp3">Download MP3</a>
</audio>

<hr/>

<h3>Hatebreed – Undiminished</h3>
<audio controls preload="none">
  <source src="/audio/Hatebreed_Undiminished.mp3" type="audio/mpeg">
  <a href="/audio/Hatebreed_Undiminished.mp3">Download MP3</a>
</audio>

<hr/>

<h2>2010</h2>

<h3>The Haunted – Trenches</h3>
<audio controls preload="none">
  <source src="/audio/The_Haunted_Trenches.mp3" type="audio/mpeg">
  <a href="/audio/The_Haunted_Trenches.mp3">Download MP3</a>
</audio>

<hr/>

<h3>Machine Head – Burning Red</h3>
<audio controls preload="none">
  <source src="/audio/Machine_Head_Burning_Red.mp3" type="audio/mpeg">
  <a href="/audio/Machine_Head_Burning_Red.mp3">Download MP3</a>
</audio>

<hr/>

<h3>Limp Bizkit – Take A Look Around</h3>
<audio controls preload="none">
  <source src="/audio/Limp_Bizkit_Take_A_Look_Around.mp3" type="audio/mpeg">
  <a href="/audio/Limp_Bizkit_Take_A_Look_Around.mp3">Download MP3</a>
</audio>

<hr/>

<h3>In Flames – The Jester`s Dance</h3>
<audio controls preload="none">
  <source src="/audio/In_Flames_The_Jesters_Dance.mp3" type="audio/mpeg">
  <a href="/audio/In_Flames_The_Jesters_Dance.mp3">Download MP3</a>
</audio>

<hr/>

<h3>In Flames – Zombie Inc</h3>
<audio controls preload="none">
  <source src="/audio/In_Flames_Zombie_Inc.mp3" type="audio/mpeg">
  <a href="/audio/In_Flames_Zombie_Inc.mp3">Download MP3</a>
</audio>

<hr/>

<h3>Machine Head – Imperium</h3>
<audio controls preload="none">
  <source src="/audio/Machine_Head_Imperium.mp3" type="audio/mpeg">
  <a href="/audio/Machine_Head_Imperium.mp3">Download MP3</a>
</audio>

<hr/>

<h3>In Flames – Artifacts Of Black Rain</h3>
<audio controls preload="none">
  <source src="/audio/In_Flames_Artifacts_Of_Black_Rain.mp3" type="audio/mpeg">
  <a href="/audio/In_Flames_Artifacts_Of_Black_Rain.mp3">Download MP3</a>
</audio>

<hr/>

<h2>2009</h2>

<h3>Machine Head – Aesthetics Of Hate</h3>
<audio controls preload="none">
  <source src="/audio/Machine_Head_Aesthetics_Of_Hate.mp3" type="audio/mpeg">
  <a href="/audio/Machine_Head_Aesthetics_Of_Hate.mp3">Download MP3</a>
</audio>

<hr/>

<h3>As I Lay Dying – Seperation</h3>
<audio controls preload="none">
  <source src="/audio/As_I_Lay_Dying_Seperation.mp3" type="audio/mpeg">
  <a href="/audio/As_I_Lay_Dying_Seperation.mp3">Download MP3</a>
</audio>

<hr/>

<h3>Slipknot – The Blister Exists</h3>
<audio controls preload="none">
  <source src="/audio/Slipknot_The_Blister_Exists.mp3" type="audio/mpeg">
  <a href="/audio/Slipknot_The_Blister_Exists.mp3">Download MP3</a>
</audio>
