---
title: "Cover: RATM - Killing in the Name"
title_image: "killing-in-the-name/title.jpg"
date: 2014-03-16
language: en
description: "Rage Against The Machine guitar cover. Recording, mixing."
---

<p>Here is my fresh cover on legendary Rage Against The Machine. Check it out!</p>

<p>It&rsquo;s been recorded on my ESP KH-2, Engl, Maxon and Whammy. The sound isn&rsquo;t even close, because of EMG and preamp. And I know I do the same mixing mistakes every time, I&rsquo;m still learning. I hope I will do better some time:)</p>

<audio controls preload="none">
  <source src="/audio/RATM_Killing_in_the_Name.mp3" type="audio/mpeg">
  <a href="/audio/RATM_Killing_in_the_Name.mp3">Download MP3</a>
</audio>
